.about-component{
    font-size: 100px;
    color: white;
    height: 100vh;
    background: url('../images/img-3.jpg') center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 960px) {

    .about-component h1 {
        font-size: 40px;
        margin-top: -200px;
    }

}